.cover {
  background: url(../../images/cover.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 757px;
  width: 100%;
  min-width: 1440px;
  margin-top: 92px;
  margin-bottom: 180px;
  position: relative;
}
