.card__title {
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 26.4px;
  text-decoration-line: underline;
  text-transform: uppercase;
  margin-top: 50px;
  margin-left: 40px;
  margin-right: 40px;
}
