/*HEADER*/
.header {
  margin-top: 92px;
  margin-left: 51px;
  margin-right: 49px;
}

.header__container {
  width: 100%;
  min-width: 1340px;
  min-height: 109px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.header__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

.header__links-list {
  display: flex;
  list-style-type: circle;
  margin-top: 43px;
}

.header__links-list-item {
  margin-left: 32px;
}

.header__links-list-item_no-bullit {
  list-style: none;
  margin: 0;
}

.header__link {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: underline;
}

.address {
  margin-top: 5px;
}

.address__item {
  list-style: none;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24.3px;
}

.address__info {
  cursor: pointer;
}

/*SECTION COVER*/
.cover {
  background: url(../images/cover.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 757px;
  width: 100%;
  min-width: 1440px;
  margin-top: 92px;
  margin-bottom: 180px;
  position: relative;
}
/*
.cover::before {
    content: "";
    background-color: #000;
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 0.6;
}
/*
.overlay {
    position: relative;
}
.overlay::before {
    content: "";
    background-color: #2A2C2F;
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 0.6;
}

*/

.overlay {
  height: inherit;
  background-color: rgba(0, 0, 0, 0.6);
}

.cover__title {
  position: relative;

  display: flex;
  flex-direction: column;
  padding-top: 165px;
  width: 100%;
  max-width: 1340px;
  margin-left: 50px;
}

.aligned-text {
  color: #fff;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 115px;
  letter-spacing: 30px;
  text-transform: uppercase;
  padding-bottom: 15px;
}

.aligned-text_center {
  width: 100%;
  max-width: 1310px;
  text-align: center;
  line-height: 110px;
}

.aligned-text_right {
  width: 100%;
  max-width: 1310px;
  text-align: end;
  line-height: 110px;
  margin-left: 30px;
}

.letter-spacing-extended {
  margin-left: 25px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: end;
  padding-top: 105px;
}

.cover__description-text {
  color: #fff;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 127.273% */
  text-transform: uppercase;
  word-spacing: 20px;
}

.bet-button {
  color: #fff;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  background-color: transparent;
  width: 257px;
  height: 52px;
  border: 1px solid #fff;
  margin-left: 78px;
  margin-right: 50px;
}

/*SECTION LOTS*/
.lots {
}

.lots__heading {
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-left: 90px;
  margin-bottom: 27px;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  color: #fff;
  gap: 25px;
  margin-left: 50px;
  margin-right: 50px;
}

.lots__card-list-item {
  flex-grow: 1;
  width: 430px;
  min-height: 450px;
  margin-bottom: 30px;
}

.card-link {
  display: block;
  text-decoration: none;
  height: 100%;
}

.card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card_type_film {
  background: url(../images/card-lot-01.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.card_type_book {
  background: url(../images/card-lot-02.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.card_type_picture {
  background: url(../images/card-lot-03.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.card__title {
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 26.4px;
  text-decoration-line: underline;
  text-transform: uppercase;
  margin-top: 50px;
  margin-left: 40px;
  margin-right: 40px;
}

.card__text {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 50px;
  margin-left: 40px;
  margin-right: 40px;
}

.lots__look-more-link {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 90px;
}

/*SECTION ABOUT*/
.about {
  margin-top: 183px;
}

.about__column {
  display: grid;
  column-gap: 25px;
  grid-template-columns: 430px 1fr;
  padding-left: 50px;
  padding-right: 50px;
}

.about__logo {
  background-color: #000;
  border-radius: 50%;
  width: 240px;
  height: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 95px;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__text {
  display: flex;
  flex-direction: column;
  width: 885px;
}

.about__title {
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-top: 100px;
  margin-bottom: 100px;
}

.about__paragraph {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 25px;
}

.about__paragraph:last-child {
  margin-bottom: 0;
  margin-top: 0;
}

/*FOOTER*/
.footer {
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  width: 1440px;
  margin-top: 180px;
  margin-bottom: 90px;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

.footer__menu-list-item {
}

.footer__menu-link {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer__menu-link_active {
}

.footer__social-list {
  display: flex;
  justify-content: space-between;
  width: 240px;
  list-style: none;
}

.footer__social-link {
}

.footer__social-icon {
  height: 48px;
}
